# Created by .ignore support plugin (hsz.mobi)
### Node template
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*


# System Files
.DS_Store
Thumbs.db

.idea
dist
**/dist
node_modules
**/node_modules
**/.sass-cache
**/bootstrap.css
**/bootstrap.css.map
**/custom.css
**/custom.css.map
**/sonar-tslint.json
