# Created by .ignore support plugin (hsz.mobi)
### Node template
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*




# System Files
.DS_Store
Thumbs.db
/client-packages/dist/
/Client-UI/node_modules/
/Build-stuff/node_modules/
/server-packages/node_modules/
/client-packages/node_modules/
/Build-stuff/dist/
/Client-UI/.sass-cache/
/Client-UI/src/styles/custom.css
/Client-UI/src/styles/custom.css.map
/Client-UI/src/styles/bootstrap/bootstrap.css
/Client-UI/src/styles/bootstrap/bootstrap.css.map
!Extras/**/*
